body{
max-width:  1000px;
margin:100px;
padding-left: 100px;
 
}
header{
  display: flex;
  
  justify-content: space-around;
  position:sticky;
  top: 0;
  margin: 20px 0;
  align-items: center;
  background-color: #d1dbe2;
  opacity: 0.9;
  overflow-y: auto;
}
table{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
 
font-size: 16px;
border-collapse: collapse;
text-align: center;
width: 100%;
overflow-y: auto;
}
 th, td:first-child { 
  position:sticky;
  top: 0;
background: #a0b5be;
color: rgb(5, 5, 5);
 padding: 10px 20px;
}
th, td{
  scroll-behavior: auto;
border-style: solid;
border-width: 0 0px 0px 0;
border-color: white;
font-weight:bold ;
overflow-y: auto;
}
td{
background: #a0b5be;
}
 
th:first-child, td:first-child {
text-align: left;
background-color:#AFCDE7;
 

}
     
table{ 
 border: 0px solid;
}
       
th{
background-color:#AFCDE7;
color: black;
border: 0px solid;
}
 